.navSignUp {
    display: flex;
    justify-content: center;
    z-index: 1;

    @include laptop {

        justify-content: flex-end;
        margin-right: 9.5rem;
        margin-bottom: 2.125rem;
    }


    &__button {
        padding: 0.5rem  0.625rem ;
        border: 0.75px solid transparent;
        transition: .2s;
        z-index: 1;

        &:hover {
            border-color: $color-yellow;
        }
        
        &:first-child {
            margin-right: 1.25rem;
        }
        
        a {
            font-size: 0.8125rem;
            cursor: pointer;
            color: $color-lightgray;
        }
    }
}