.nav {
	width: 99%;
	position: absolute;
	margin-top: 1.875rem;
	z-index: 1;

	&__container {
		display: flex;
		justify-content: flex-end;
		margin-right: 8.875rem;
	}

	&__active {
		display: none;
	}

	&__burger {
		display: block;
		height: 1.625rem;
		width: 2.7rem;
		position: absolute;
		top: 2rem;
		right: 1.25rem;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: transparent;
		border: none;
		cursor: pointer;
		position: fixed;

		@include laptop {
			display: none;
		}

		.line {
			display: block;
			height: 3px;
			width: 31px;
			border-radius: 10px;
			background: $color-darkgray;
			position: relative;
		}

		.line1 {
			transform-origin: 0% 0%;
			transition: transform 0.4s ease-in-out;
		}

		.line2 {
			transition: transform 0.2s ease-in-out;
		}

		.line3 {
			transform-origin: 0% 100%;
			transition: transform 0.4s ease-in-out;
		}
	}

	&__elements {
		@media (max-width: 1025px) {
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			transform: translate(-150%);
			transition: 0.3s;
			background: rgba(155, 155, 155, 0.836);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(4.2px);
			-webkit-backdrop-filter: blur(7.2px);
			border: 1px solid rgba(148, 148, 148, 0.3);
		}

		a {
			font-size: 1.6rem;
			margin-left: 0;
			border: none;
			border-bottom: 1px solid rgba(255, 255, 255, 0.158);
			width: 100%;
			text-align: center;
			color: $color-primary;
			padding: 2rem;

			@include laptop {
				font-size: 1.125rem;
				margin-left: 3.4375rem;
				padding: 0.5rem 0.625rem;
				border: 0.75px solid transparent;
				color: $color-darkgray;
				cursor: pointer;
				transition: 0.2s;
			}

			&:hover {
				background-color: rgba(255, 255, 255, 0.308);
				border-color: transparent;

				@include laptop{
					border-color: $color-secondary;
				}
			}
		}
	}
}

.burger--active {
	.line1 {
		transform: rotate(45deg);
	}

	.line2 {
		transform: scaleY(0);
	}

	.line3 {
		transform: rotate(-45deg);
	}
}

.nav--active {
	transform: rotate(0);
}
