.navSignUp {
    display: flex;
    justify-content: flex-end;
    margin-right: 9.5rem;
    margin-bottom: 2.125rem;

    &__button {
        padding: 0.5rem  0.625rem ;
        border: 0.75px solid transparent;
        transition: .2s;

        &:hover {
            border-color: $color-yellow;
        }
        
        &:first-child {
            margin-right: 1.25rem;
        }
        
        a {
            font-size: 0.8125rem;
            cursor: pointer;
            color: $color-lightgray;
        }
    }
}